@font-face {
    font-family: "FregatBold";
    src: url("/fonts/Fregat/FregatBold/FregatBold.eot");
    src: url("/fonts/Fregat/FregatBold/FregatBold.eot?#iefix")format("embedded-opentype"),
    url("/fonts/Fregat/FregatBold/FregatBold.woff") format("woff"),
    url("/fonts/Fregat/FregatBold/FregatBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FregatRegular";
    src: url("/fonts/Fregat/FregatRegular/FregatRegular.eot");
    src: url("/fonts/Fregat/FregatRegular/FregatRegular.eot?#iefix")format("embedded-opentype"),
    url("/fonts/Fregat/FregatRegular/FregatRegular.woff") format("woff"),
    url("/fonts/Fregat/FregatRegular/FregatRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}